@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
  font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 900;
    font-style: normal;
  }

  body {
    display: block;
    margin: 0;
    font-family: OpenSans, Arial;
    overflow-x: hidden;
  }  
  
  * {
    margin: 0; 
    padding: 0
  }

  h1 {
    text-transform: uppercase;
    align-self: flex-start;
  }
  h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
  }
  h3 {
    font-size: 3.1em;
    text-transform: uppercase;
    padding-left: 20px;
    color: #e7e7e7;
  }
  h4 {
    padding-left: 20px;
  }
  h4 span {
    position: relative;
    font-size: 0.6em;
    color: #000;
    vertical-align: top;
    margin-right: 0.8em;
    vertical-align: top;
    padding-top: calc(1em/2);
}
h4 span:after {
  position: absolute;
  background-color: #5f3cb6;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  bottom: -5px;
  left: 0;
}
  .header-3 {
    font-size: 1.75em;
    margin-top: 25px;
  }
  .text-footer-button {
    font-size: 0.9em;
    text-transform: uppercase;
    color: #9b8ec1;
  }
  span{
    text-decoration: none;
  }
  p {
    padding-left: 20px;
    margin-top: 1em;
  }
  .content-header-4 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #c1c1c1;
  }
  .header {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-image: url(../images/football_767.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .header::after {
    content: "";
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:#0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    position: relative;
    z-index: 1;
    color: #ffffff;
  }
  .group-of-footer {
    position: relative;
    z-index: 2;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-image: url(../images/game_767.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .footer:after {
    content: "";
    width: 100%;
    height: 100vh;
    background-color:#0a0e34;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
.content-number-block03 {
  background: #5c42b0;
  color: white;
  z-index: 4;
  padding: 28px;
  margin-left: 20px;
  margin-top: -60px;
}
.content-number-block03 span:after {
  position: absolute;
  background-color: #8f7bc8;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  bottom: -5px;
  left: 0;
}

  .block-01_1 {
    background-color: #fafafa;
    padding-top: 84px;
    padding-bottom: 60px;
  }
  
  .block-01_2 {
    background-color: #f5f4f9;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block-01_3 {
    background-color: #5e42b0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block-02_1 {
    background-color: #e7e7e7;
    padding-top: 84px;
    padding-bottom: 60px;
  }
  
  .block-02_2 {
    background-color: #f5f4f9;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block-02_3 {
    background-color: #090c35;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-3 {
    background-color: #e7e7e7;
    padding-bottom: 82px;
  }
  .group-button {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
  }
.buttons {
  width: calc(100% - 13%);
  justify-content: center;
  margin: auto;
}
.button-appstore {
    display: flex;
    background: #5c42b0;
    box-shadow: 0 25px 20px -5px #0A0C31;
    color: white;
    border-radius: 40px;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    
.button-gstore {
    display: flex;
    background: #5c42b0;
    box-shadow: 0 25px 20px -5px #0A0C31;
    color: white;
    border-radius: 40px;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.button-text {
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 8px;
}
.icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
}
.logo {
    width: 130px;
    height: 135px;
    fill: #714bd0;
    background: linear-gradient(to bottom, #7c58de, #493a8d);
    border-radius: 20px;
    margin-bottom: 20px;
}
.icon-logo-button {
    width: 56px;
    height: 56px;
    fill: white;
}
.surface_logo_text {
    width: 140px;
    height: 36px;
    fill: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
img {
    max-width: 100%;
    }

.icon-logo-button {
      position: relative;
      z-index: 3;
    }




@media (max-width: 640px) {
    .header-wrapper {
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    
}

@media (min-width: 641px) and (max-width:960px) {
    .header-wrapper {
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
    }
}
