@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
  font-family: OpenSans;
    src: url(fonts/OpenSans-Bold.woff);
    font-weight: 900;
    font-style: normal;
  }

  body {
    display: block;
    margin: 0;
    font-family: OpenSans, Arial, san-serif;
    overflow-x: hidden;
  }  
  
  * {
    margin: 0; 
    padding: 0
  }
  .header-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .header-wrapper:after {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url(/images/football_767.jpg);
    background-color:#0a0e34;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrapper-footer {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-image: url(/images/game_767.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .wrapper-footer:after {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url(/images/game_767.jpg);
    background-color:#0a0e34;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
.button-appstore {
    display: flex;
    background: #5c42b0;
    box-shadow: 0 25px 20px -5px #0A0C31;
    color: white;
    border-radius: 40px;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    }
    
.button-gstore {
    display: flex;
    background: #5c42b0;
    box-shadow: 0 25px 20px -5px #0A0C31;
    color: white;
    border-radius: 40px;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
}
.logo {
    width: 130px;
    height: 135px;
    fill: #714bd0;
    background: linear-gradient(to bottom, #7c58de, #493a8d);
    border-radius: 20px;
    margin-bottom: 20px;
}
.icon-logo-button {
    width: 56px;
    height: 56px;
    fill: white;
    color: white;
}
.surface_logo_text {
    width: 140px;
    height: 36px;
    fill: #ffffff;
}

@media (max-width: 640px) {
    .header-wrapper {
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
}

@media (min-width: 641px) and (max-width:960px) {
    .header-wrapper {
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
    }
}
